$color: rgb(40,40,40);
$color2: #696969;
$color3: #F0E50E;
$background: #F5F5F5;

body {
  background-color: $background !important;
}

%text {
  text-align: center;
  font-style: normal;
}

%heading {
  @extend %text;
  color:$color;
  letter-spacing: 1.2px;
  font: 100% helvetica, sans-serif !important;
  }

h1 {
  @extend %heading;
  font-size: 30px !important;
}

h2 {
  @extend %heading;
  font-size: 25px !important;
}

th, td {
  font-size: 15px !important;
}

li {
  @extend %text;
  color: $color2;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 14px;
  p {
    font-size: 18px;
    font-style: italic;
  }
}

.nav.justify-content-center li a {
  color: $color2;
}

.nav-item:active, .nav-item:hover a {
  color: #000 !important;
}

.title {
  text-align: center;
  margin-top: 50px;
}

.nav-principal {
    margin-top: 20px;
    }

.nav-secundaria {
  margin-top: 20px;
/*  margin-bottom: 50px;*/
}

.container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
    }

%links {
  color: $color;
  }

td a, td a:active, td a:visited {
  @extend %links;
}

td a:hover, td a:visited:hover {
  @extend %links;
  text-decoration: underline;
}

::selection {
  background-color: $color3;
  color: #000;
}
